In [1]:
import pandas as pd

/var/folders/yk/ncwpcr992tlfxm1x03tn9gcw0000gn/T/ipykernel_63657/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
counties = pd.read_csv('counties-table.csv')

In [37]:
counties['state'].unique()

array(['California', 'Illinois', 'Texas', 'Arizona', 'Florida',
       'New York', 'Nevada', 'Washington', 'Michigan', 'Massachusetts',
       'Pennsylvania', 'Ohio', 'Minnesota', 'North Carolina', 'Utah',
       'Virginia', 'Georgia', 'Maryland', 'Hawaii', 'Missouri',
       'Connecticut', 'Indiana', 'New Jersey', 'Wisconsin', 'Tennessee',
       'Oklahoma', 'Oregon', 'Kentucky', 'Colorado',
       'District of Columbia', 'New Mexico', 'Rhode Island', 'Alabama',
       'Kansas', 'Nebraska', 'Delaware', 'South Carolina', 'Idaho',
       'Iowa', 'Louisiana', 'New Hampshire', 'Arkansas', 'Maine',
       'Alaska', 'Mississippi', 'South Dakota', 'North Dakota',
       'West Virginia'], dtype=object)

In [4]:
counties.describe()

,year,fips,pop2020,pop2024,growthSince2020,landArea,density
count,400.0,400.000000,4.000000e+02,4.000000e+02,400.000000,400.000000,400.000000
mean,2024.0,28444.545000,5.954469e+05,6.037931e+05,0.029064,1085.785000,1513.210063
std,0.0,15758.254022,7.750317e+05,7.616020e+05,0.054329,1723.504454,4626.409744
min,2024.0,1003.000000,1.471400e+05,1.736160e+05,-0.088976,23.000000,16.986124
25%,2024.0,13055.500000,2.314202e+05,2.387765e+05,-0.004377,441.500000,339.373465
50%,2024.0,29086.000000,3.649050e+05,3.785305e+05,0.015965,656.500000,571.363289
75%,2024.0,42032.000000,6.653718e+05,6.874150e+05,0.049208,941.750000,1250.843382
max,2024.0,55133.000000,9.992813e+06,9.606925e+06,0.350884,20068.000000,69580.826087

In [19]:
indiana_df = counties[counties['state'] == 'Indiana']

In [20]:
indiana_df

,year,fips,pop2020,pop2024,state,stateCode,growthSince2020,name,county,slug,landArea,density
53,2024,18097,976659,967697,Indiana,IN,-0.009176,Marion County,Marion County,indiana/marion-county,396,2443.679293
146,2024,18089,498957,501539,Indiana,IN,0.005175,Lake County,Lake County,indiana/lake-county,499,1005.088176
190,2024,18003,386103,397446,Indiana,IN,0.029378,Allen County,Allen County,indiana/allen-county,657,604.940639
200,2024,18057,348996,377827,Indiana,IN,0.082611,Hamilton County,Hamilton County,indiana/hamilton-county,394,958.951777
265,2024,18141,272682,273414,Indiana,IN,0.002684,St. Joseph County,St. Joseph County,indiana/st-joseph-county,458,596.973799
344,2024,18039,206991,205945,Indiana,IN,-0.005053,Elkhart County,Elkhart County,indiana/elkhart-county,463,444.805616
369,2024,18063,175596,189655,Indiana,IN,0.080064,Hendricks County,Hendricks County,indiana/hendricks-county,407,465.982801
370,2024,18157,186387,189347,Indiana,IN,0.015881,Tippecanoe County,Tippecanoe County,indiana/tippecanoe-county,499,379.452906
383,2024,18163,180336,180057,Indiana,IN,-0.001547,Vanderburgh County,Vanderburgh County,indiana/vanderburgh-county,233,772.776824
394,2024,18127,173318,175822,Indiana,IN,0.014447,Porter County,Porter County,indiana/porter-county,418,420.626794

In [21]:
indiana_df.describe()

,year,fips,pop2020,pop2024,growthSince2020,landArea,density
count,10.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2024.0,18093.600000,340602.500000,345874.900000,0.021446,442.400000,809.327862
std,0.0,53.433656,249205.183846,246018.227749,0.033509,107.144969,615.238136
min,2024.0,18003.000000,173318.000000,175822.000000,-0.009176,233.000000,379.452906
25%,2024.0,18058.500000,181848.750000,189424.000000,-0.000489,398.750000,450.099912
50%,2024.0,18093.000000,239836.500000,239679.500000,0.009811,438.000000,600.957219
75%,2024.0,18137.500000,376826.250000,392541.250000,0.026004,490.000000,912.408038
max,2024.0,18163.000000,976659.000000,967697.000000,0.082611,657.000000,2443.679293

In [15]:
import ast

# Open and parse the text file
with open('PopPerCountyandWhiteOnly', 'r') as file:
    data = ast.literal_eval(file.read())

In [16]:
whitepop = pd.DataFrame(data[1:], columns=data[0])

In [18]:
whitepop

   P1_001N P1_002N                        NAME state county
0   385410  358197       Allen County, Indiana    18    003
1    12112   11600   Blackford County, Indiana    18    009
2    20306   19599     Carroll County, Indiana    18    015
3    26466   25523        Clay County, Indiana    18    021
4    33381   32047     Daviess County, Indiana    18    027
..     ...     ...                         ...   ...    ...
87    8440    8187      Warren County, Indiana    18    171
88   28182   27235  Washington County, Indiana    18    175
89   66553   62748       Wayne County, Indiana    18    177
90   24688   23260       White County, Indiana    18    181
91   34191   32852     Whitley County, Indiana    18    183

[92 rows x 5 columns]

In [22]:
whitepop.describe()

       P1_001N P1_002N                   NAME state county
count       92      92                     92    92     92
unique      92      92                     92     1     92
top     385410  358197  Allen County, Indiana    18    003
freq         1       1                      1    92      1

In [34]:
import re

# Initialize lists to store the primary and related counties
primary_county = []
related_county = []
primary_fips = []
related_fips = []

# Regular expression to match primary and related counties
primary_pattern = r'^"(.+?)"\s+(\d+)\s+"(.+?)"\s+(\d+)$'
related_pattern = r'^\t+"(.+?)"\s+(\d+)$'

# Open and read the .go file
with open('AdjacentCounties.go', 'r') as file:
    current_primary_name = None
    current_primary_code = None
    
    for line in file:
        line = line.strip()  # Strip leading and trailing whitespace
        
        # Check if the line matches a primary county
        primary_match = re.match(primary_pattern, line)
        if primary_match:
            # Extract primary county details
            current_primary_name = primary_match.group(1)
            current_primary_code = primary_match.group(2)
            continue
        
        # Check if the line matches a related county
        related_match = re.match(related_pattern, line)
        if related_match and current_primary_name:
            # Extract related county details
            related_name = related_match.group(1)
            related_code = related_match.group(2)
            
            # Append to lists
            primary_county.append(current_primary_name)
            primary_fips.append(current_primary_code)
            related_county.append(related_name)
            related_fips.append(related_code)

# Create DataFrame
df = pd.DataFrame({
    'Primary County': primary_county,
    'Primary FIPS': primary_fips,
    'Related County': related_county,
    'Related FIPS': related_fips
})

In [35]:
df

Empty DataFrame
Columns: [Primary County, Primary FIPS, Related County, Related FIPS]
Index: []

In [24]:
adjacent = df

In [25]:
adjacent

Empty DataFrame
Columns: [Primary County, Primary FIPS, Related County, Related FIPS]
Index: []